* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.py10 {
  padding: 10px, 0px;
}
.container {
  max-width: 1200px;

  margin: 0 auto;
}

header {
  background-color: lightskyblue;
  height: 40px;
}
.row {
  display: flex;
  flex-wrap: wrap;

  border: 1px;
  padding: 10px;
  justify-content: center;
}
.row2 {
  display: flex;

  height: 20px;

  border: 1px;
  padding: 10px;
  justify-content: center;
}

.col-50 {
  width: 40%;
  border: dotted;
  height: 20px;
  background-color: rgb(215, 192, 17);
}
.col-25 {
  width: 15%;
  border: dotted;
  height: 20px;
  background-color: rgb(215, 192, 17);
}

.col-60 {
  width: 40%;
  border: dotted;
  height: 180px;
  background-color: rgb(35, 116, 255);
  margin-top: 25px;
  margin-bottom: 35px;
}
.col-30 {
  width: 30%;
  border: dotted;
  height: 180px;
  background-color: rgb(244, 149, 171);
  margin-top: 25px;
  margin-bottom: 35px;
}
.col-30-2 {
  width: 20%;
  border: dotted;
  height: 220px;
  background-color: rgb(244, 149, 171);
  margin-top: 5px;
  margin-bottom: 35px;
}
.col-small {
  width: 10%;
  border: dotted;
  height: 220px;
  background-color: rgb(49, 244, 205);
  margin-top: 5px;
  margin-bottom: 35px;
}

.col-footer {
  background-color: rgb(26, 231, 211);
  display: flex;

  height: 40px;
  margin-top: 20px;
  margin-bottom: 0;

  padding: 10px;
  justify-content: space-between;
  width: 70%;
}

.text-left {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
.text-center {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.text-right {
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.blue {
  background-color: rgb(33, 33, 122);
  height: 200px;
  margin: 0 auto;
}
.white {
  background-color: rgb(255, 255, 255);
  height: 250px;
  margin: 0 auto;
}
.grey {
  background-color: rgb(173, 173, 173);
  height: 250px;
  margin: 0 auto;
}

.grey2 {
  background-color: rgb(173, 173, 173);
  height: 400px;
  margin: 0 auto;
}

.black {
  background-color: rgb(42, 42, 42);
  height: 270px;
  margin: 0 auto;
}
.black-2 {
  background-color: rgb(42, 42, 42);
  height: 70px;
  margin: 0 auto;
  border-top: 2px white;
}

.col-large {
  background-color: rgb(230, 91, 218);
  display: flex;
  flex-wrap: wrap;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px;
  padding: 10px;
  justify-content: center;
  width: 50%;
}

.col-XLarge {
  background-color: rgb(34, 109, 4);
  display: flex;
  flex-wrap: wrap;
  height: 360px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px;
  padding: 10px;
  justify-content: center;
  width: 70%;
}

button {
  border: dotted;
  background-color: pink;
  height: 20px;
  justify-content: space-between;
}

.bgblack {
  background-color: rgb(42, 42, 42);
}

.bgblue {
  background-color: rgb(33, 33, 122);
}

.bgpink {
  background-color: pink;
}

.bglightblue {
  background-color: rgb(26, 231, 211);
}

.bgwhite {
  background-color: rgb(255, 255, 255);
}

.bggrey {
  background-color: rgb(173, 173, 173);
}
